@model IEnumerable<RentMyWrox.Models.ResidencyReportItem>
@{
    ViewBag.Title = "Residency Report";
}
<h2>Residency Report</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BirthRange)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageMonths)
        </th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BirthRange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AverageMonths)
        </td>
    </tr>
}
</table>
