@model RentMyWrox.Models.Item

@if (Model == null)
{
    <p>That is not a valid item.</p>
}
else
{
    ViewBag.Title = Model.Name;

    <div>
        <div class="detailtitle">
            <span class="productname">@Model.Name</span>
            <span class="listprice">@Model.Cost.ToString("C")</span>
        </div>
        <div>
            @if (!string.IsNullOrWhiteSpace(Model.Picture))
            {
                <img src="@Model.Picture" class="textwrap" runat="server" height="150" />
            }
            <p>
                @Model.Description
            </p>
        </div>

        @if (Model.IsAvailable)
        {
            <a class="inlinelink" href="">Add to Cart</a>
        }
        else
        {
            <span class="checkedout">
                This article was checked out on @Model.CheckedOut.Value.ToString("d")
                and is due back on @Model.DueBack.Value.ToString("d").
            </span>
        }
    </div>
}


